@import url(http://fonts.googleapis.com/css?family=Roboto:700,900,500);
html {
height:100%;
}
.ui-autocomplete { height: 160px; overflow-y: scroll; overflow-x: hidden;}
.ui-helper-hidden-accessible { display:none; }
.btn:hover,.btn:active{

    border:2px solid #fff;
   background-color:rgba(255,255,255,0.5);
  transition: all 0.15s ease-in;

 
}
.btn-default{
  font-size:1.3em;
  border:2px solid #fff;
  color:#fff;
  border-radius:10px;
  background-color:rgba(255,205,255,0.1);
  transition: all 0.15s ease-out;
 
}



.container-fluid{
  
 color:#ffffff;
 width:100%;

    min-height:100%;
 
}
.btn:focus, btn:active{

  outline: none;
}
#toggleDeg {
  margin-right:13px;
  display:block;
  float:right;
  opacity:0.7;
  margin-top:12%;
  background-color:3
}
#icon{
  
  font-size:7em;


}

.main{
    text-align:center;
 
   margin-top:5%;
}
#city{
  text-align:left;
  float:left;
  font-size:4em;


}

#forecast,.icons,#weekdays{
    float:right;
  margin-top:2%;
  padding-right:0.5em;
  font-size:1.5em;
 
  opacity:0.7;
}
#temp{ 
  margin-top:10px;
  font-weight:800;
  font-size:3em;
font-size:5vw;
 

}
body{
  height:100%;
  background-position:center center;
  background-attachment:fixed;
  background-size:cover;
  font-family:roboto;
  background-repeat: no-repeat;
}
#searchbox ul{
  padding:0px;
}
#searchbox ul li{
  padding:10px;
}
.ui-menu-item {
    
   display:block;
   margin:0px;
   padding:0px;
   cursor:pointer;

   border-radius:5px;
}
#searchbox {
  margin-right:15px;
  margin-top:8%;
}
.ui-menu-item:hover{
   

  background-color:#555555;

}


.ui-menu{
  opacity:0.5;
  width:90%;
  background-color:#000000;
  border-radius:5px;
  
}

.form-control {
  color:#fff;
  border:none;
  border-radius:10px;
  background-color:rgba(0,0,0,0.25);

}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-corner {
    background: #000;
}
::-webkit-input-placeholder {
   color: red;
}
.form-control::-webkit-input-placeholder { color: #ddd; }
.form-control:-moz-placeholder { color: #ddd; }
.form-control::-moz-placeholder { color: #ddd; }
.form-control:-ms-input-placeholder { color: #ddd; }

